<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="./favicon1.ico">
        <title>CaC-Movies</title>
        <script src="https://kit.fontawesome.com/9176f7edf9.js" crossorigin="anonymous"></script>
    
    </head>
<body>
    <header>
        <nav>
     <h1>CaC-Movies</h1>
     <a href="../index.html"><i class="fa-solid fa-film"></i></a>
        </nav>
        <a href="../index.html">Volver a la Home</a>
    </header>
</body>
</html>